*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    /* font-family: arial, sans-serif; */
    color: white;
}
body{
    font-size: 21px;
}
.body1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Butterfly.jpg);
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body2{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./RMountatins.jpg);
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.body3{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./Fantasyhouse.jpg);
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
.M2 h2{
    text-align: center;
}
.contact{
    padding-top: 40px;
    /* margin: 20px 5% 20px 5%; */
}
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
header{
    width: 90%;
    height: 100px;
    margin: 20px 5% 0 5%;
    border: 3px solid transparent;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 35px;
    background: linear-gradient(to right, #ffa01c,#d13498);
    /* animation: header_animate 10s infinite; */
}
.head2{
    /* background: linear-gradient(to bottom, #25274D,black); */
    background: linear-gradient(to right, #ffa01c,#d13498);
}
.M2{
    color: #211f1e;
}
.WrapUpTop{
    display: flex;
    justify-content: space-between;
}

ul li{
    font-size: 20px;
    /* padding: 20px 40px; */
    padding: 20px 10px 0 10px;
    list-style: none;
}
.Icon{
    display: flex;
    align-items: center;
    font-size: 18px;
}


.Icon img{
    width: 50px;
    height: auto;
    border: 3px solid blue;
    border-radius: 25px;
}

.Links{
    display: flex;
}
main{
    width: 90%;
    margin: auto;
    margin-top: 55px;
}
main h1{
    text-align: center;
}
main p{
    margin-top: 45px;
    text-align: center;
}
main button{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 40px;
}
.btn{
    display: flex;
}
.B1{
    flex: 1;
    display: flex;
    justify-content: right;
}
.B2{
    flex: 1;
    display: flex;
}
.bt1{
    /* box-shadow: 0px 5px 10px; */
    background: white;
    color: #211f1e;
}
.bt2{
    justify-content: center;
    background: white;
    color: #211f1e;
}
.bt1:hover{
    box-shadow: 0px 15px 25px -5px;
    background: yellow;
}
.bt1:active{
    box-shadow: 0px 4px 8px;
    scale: 0.94;
}
.bt2:hover{
    box-shadow: 0px 15px 25px -5px;
    background: yellow;
}
.bt2:active{
    box-shadow: 0px 4px 8px;
    scale: 0.94;
}
/* .WrapUpTop,.Icon,.Icon h4,.Links li{
    background: inherit;
} */
.WrapUpTop,.Icon,.Icon h4,.Links-collection,.Links,.Links li,.Links  li  a{
    background: transparent;
    /* border: 2px solid black; */
}
.l{
    text-decoration: none;
    box-sizing: border-box;
}
.A:link{
    font-size: 25px;
}
.A:visited{
    color: #06071a;
}
.l:hover{
    font-size: 25px;
}
footer{
    margin-top: 10px;
}
.foot{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 16px;
    font-size: 16px;
    margin-top: 16px;
    /* background: transparent; */
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,0.8));
}
#foot2{
    margin-top: 16px;
    padding-top: 74px;
    font-size: 16px;
}
#foot3{
    margin-top: 290px;
    padding-top: 36px;
    font-size: 16px;
}
.contactmob{
    display: none;
}
@media only screen and (max-width: 810px) { 
    .table { 
        display: none; 
    }
    .contactmob{
        display: block;
    }
} 
@keyframes header_animate{   /*adding animation */
    0%{
        background: linear-gradient(to right,orange,orangered,red);
    }
    33%{
        background: linear-gradient(to right,red,orange,orangered);
    }
    66%{
        background: linear-gradient(to right,orangered,red,orange);
    }
    100%{
        background: linear-gradient(to right,orange,orangered,red);
    }
}
